/* .room__Text{
    font-family: 'Segoe UI';
} */

.Qsidebar__Chat{
    display: flex;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid #f6f6f6;
}
.Qsidebar__Chat:hover{
    background-color: #cfe6f8;
}
.QsidebarChat__info > h2 {
    font-size: 16px ;
    margin-bottom: 8px;
    font-family: 'Segoe UI';
}
.QsidebarChat__info{
    margin-left: 20px;
}