.ProfContainer {
  display: flex;
  height: 100vh;
  width: 100%;
  background-color:rgb(233, 208, 208);
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.AddContainer {
  display: flex;
  height: 100vh;
  width: 100%;
  background-color:#fff;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.ProfContainerA {
  display: flex;
  height: 860px;
  width: 100%;
  background-color:rgb(233, 208, 208);
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.ProfInner {
  display: flex;
  width: 800px;
  height: 60%;
  /* background-color:#8a2529; */
  border-radius: 2px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 30px;
  flex-direction: column;
  justify-content: space-around;
}
.ProfInnerAuto {
  display: flex;
  width: 60%;
  height: 60%;
  /* background-color:#8a2529; */
  border-radius: 2px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ProfInnerA {
    display: flex;
    width: 60%;
    height: 60%;
    /* background-color:#8a2529; */
    border-radius: 2px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 30px;
    flex-direction: column;
    justify-content: space-around;
  }
  .ProfInnerB {
    display: flex;
    width: 70%;
    height: 85%;
    /* background-color:#8a2529; */
    border-radius: 2px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 30px;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 20px;
  }
.pt {
  display: flex;
  flex-direction: row;
  /* background-color: teal; */
  width: 100%;
  height: 48%;
  justify-content: space-between;
}
.ptA {
    display: flex;
    flex-direction: row;
    /* background-color: teal; */
    width: 100%;
    height: 33%;
    justify-content: space-between;
  }
.ptB {
    display: flex;
    flex-direction: row;
    /* background-color: teal; */
    width: 100%;
    height: 24%;
    justify-content: space-between;
    align-items: center;
  }
.ptAuto {
    display: flex;
    flex-direction: row;
    /* background-color: teal; */
    width: 100%;
    height: 48%;
    justify-content: center;
  }
.machName {
  display: flex;
  width: 200px;
  height: 200px;
  flex-direction: column;
  border-style: solid;
  justify-content:flex-end;
  border-radius: 1px;
  -moz-border-radius: 20px;
  align-items: center;
  -webkit-border-radius: 15px;
  background-color: grey;
  /* background-image: url("../../pictures/a3.jpeg"); */
  background-repeat: round;
  border-style: solid;
  border-color: #73171e;
  border-width: 2px;
}
.machNameEx {
  display: flex;
  width: 200px;
  height: 200px;
  flex-direction: column;
  border-style: solid;
  justify-content:flex-end;
  border-radius: 1px;
  -moz-border-radius: 20px;
  align-items: center;
  -webkit-border-radius: 15px;
  background-color: #fff;
  /* background-image: url("../../pictures/a2.jpeg"); */
  background-repeat: round;
  border-style: solid;
  border-color: #73171e;
  border-width: 2px;
}
.machGMAW1 {
  display: flex;
  width: 200px;
  height: 200px;
  flex-direction: column;
  border-style: solid;
  justify-content:flex-end;
  border-radius: 1px;
  -moz-border-radius: 20px;
  align-items: center;
  -webkit-border-radius: 15px;
  background-color: #fff;
  background-image: url("../../pictures/modweld.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border-style: solid;
  border-color:#0f0647;
  border-width: 2px;
}
.machGMAW2 {
  display: flex;
  width: 200px;
  height: 200px;
  flex-direction: column;
  border-style: solid;
  justify-content:flex-end;
  border-radius: 1px;
  -moz-border-radius: 20px;
  align-items: center;
  -webkit-border-radius: 15px;
  background-color: #fff;
  background-image: url("../../pictures/lincoln.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border-style: solid;
  border-color: #73171e;
  border-width: 2px;
}
.machSMAW {
  display: flex;
  width: 200px;
  height: 200px;
  flex-direction: column;
  border-style: solid;
  justify-content:flex-end;
  border-radius: 1px;
  -moz-border-radius: 20px;
  align-items: center;
  -webkit-border-radius: 15px;
  background-color: #fff;
  background-image: url("../../pictures/lincoln2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border-style: solid;
  border-color: #73171e;
  border-width: 2px;
}
.machSMAW {
  display: flex;
  width: 200px;
  height: 200px;
  flex-direction: column;
  border-style: solid;
  justify-content:flex-end;
  border-radius: 1px;
  -moz-border-radius: 20px;
  align-items: center;
  -webkit-border-radius: 15px;
  background-color: #fff;
  background-image: url("../../pictures/lincoln2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border-style: solid;
  border-color: #73171e;
  border-width: 2px;
}
.machBlank{
  display: flex;
  width:200px;
  height: 200px;
  flex-direction: column;
  border-style: solid;
  justify-content: flex-end;
  border-radius: 1px;
  -moz-border-radius: 20px;
  align-items: center;
  -webkit-border-radius: 15px;
  background-image: url("../../pictures/lincoln3.jpg");
  background-repeat: round;
  background-color:grey;
  border-style: solid;
  border: color #73171e;
  border-width: 2px;
}
.machNameA {
    display: flex;
    /*  */
    width: 200px;
    height: 200px;
    flex-direction: column;
    border-style: solid;
    justify-content: space-evenly;
    border-radius: 1px;
    -moz-border-radius: 20px;
    align-items: center;
    -webkit-border-radius: 30px;
    background-color: grey;
    /* background-image: url("../../pictures/a3.jpeg"); */
    background-repeat: round;
    border-style: solid;
    border: color #73171e;
    border-width: 2px;
  }
  .machNameB {
    display: flex;
    /*  */
    width: 20%;
    height: 100%;
    flex-direction: column;
    border-style: solid;
    justify-content:flex-end;
    border-radius: 1px;
    -moz-border-radius: 20px;
    align-items: center;
    -webkit-border-radius: 30px;
    /* background-image: url("../../pictures/a3.jpeg"); */
    background-color: black;
    background-repeat: round;
    border-style: solid;
    border-color:#73171e;
    border-width: 2px;
  }
.h1 {
  display: flex;
  color: white;
  font-size: 100%;
  margin-bottom: 10px;
}
.h2 {
  display: flex;
  color: #5f4ae7;
  font-size: 14px;
  font-style:normal;
  font-weight: bold;
  margin-bottom: 20px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.h2GMAW {
  display: flex;
  color:rgb(175, 55, 85);
  font-size: 14px;
  font-style:normal;
  font-weight: bold;
  margin-bottom: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: black;
}
.h1G {
  display: flex;
  color:#fff;
  font-size: 16px;
  margin-bottom: 10px;
  background-color: rgb(12, 2, 2);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-style: solid;
  border-width: 1px;
  border-color: #0f0647;
  width: 100%;
  
}

